<a href="https://colab.research.google.com/github/Dhivyaindhu/hackthon_Innomatics/blob/main/Hackthon_Participation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
data=pd.read_csv('/content/zomato_data.csv')
print(data.head())
print(data.shape)
df = data.dropna(subset=['cuisines'])

# Split multiple cuisines and count frequency
from collections import Counter

# Create a list of all cuisines
cuisine_list = df['cuisines'].str.split(', ').sum()
cuisine_counts = Counter(cuisine_list)

# Get the most common cuisines
most_common_cuisines = cuisine_counts.most_common(10)

# Display the top cuisines
for cuisine, count in most_common_cuisines:
    print(f"{cuisine}: {count}")

  online_order book_table   rate  votes            rest_type  \
0          Yes        Yes  4.1/5    775        Casual Dining
1          Yes         No  4.1/5    787        Casual Dining
2          Yes         No  3.8/5    918  Cafe, Casual Dining
3           No         No  3.7/5     88          Quick Bites
4           No         No  3.8/5    166        Casual Dining

                                          dish_liked  \
0  Pasta, Lunch Buffet, Masala Papad, Paneer Laja...
1  Momos, Lunch Buffet, Chocolate Nirvana, Thai G...
2  Churros, Cannelloni, Minestrone Soup, Hot Choc...
3                                        Masala Dosa
4                                Panipuri, Gol Gappe

                         cuisines approx_costfor_two_people listed_intype  \
0  North Indian, Mughlai, Chinese                       800        Buffet
1     Chinese, North Indian, Thai                       800        Buffet
2          Cafe, Mexican, Italian                       800        Buffet
3      South Indian, North Indian                       300        Buffet
4        North Indian, Rajasthani                       600        Buffet

  listed_incity
0  Banashankari
1  Banashankari
2  Banashankari
3  Banashankari
4  Banashankari
(51717, 10)
North Indian: 21085
Chinese: 15547
South Indian: 8644
Fast Food: 8096
Biryani: 6492
Continental: 5765
Desserts: 5633
Cafe: 5303
Beverages: 4747
Italian: 3389

In [7]:
import pandas as pd

# Load the dataset
df = pd.read_csv("/content/zomato_data.csv", encoding="latin-1")

# Filter only online orders
online_orders = df[df['online_order'] == 'Yes']

# Total online orders
total_online = len(online_orders)

# Online orders in Banashankari
banashankari_online = online_orders[online_orders['listed_incity'] == 'Banashankari']
banashankari_count = len(banashankari_online)

# Calculate percentage
percentage = (banashankari_count / total_online) * 100

print(f"Banashankari receives {percentage:.2f}% of all online orders.")

Banashankari receives 1.79% of all online orders.

In [8]:
import pandas as pd

# Load the dataset
df = pd.read_csv("/content/zomato_data.csv", encoding="latin-1")

# Clean up whitespaces and casing (optional but recommended)
df['online_order'] = df['online_order'].str.strip().str.lower()
df['listed_incity'] = df['listed_incity'].str.strip().str.lower()

# Filter only online orders
online_orders = df[df['online_order'] == 'yes']

# Total online orders
total_online = len(online_orders)

# Online orders in Banashankari
banashankari_online = online_orders[online_orders['listed_incity'] == 'banashankari']
banashankari_count = len(banashankari_online)

# Calculate percentage
percentage = (banashankari_count / total_online) * 100

print(f"Banashankari receives {percentage:.2f}% of all online orders.")

Banashankari receives 1.79% of all online orders.

In [9]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/zomato_data.csv', encoding='latin-1')

# Clean whitespace
df['listed_incity'] = df['listed_incity'].str.strip()
df['rest_type'] = df['rest_type'].str.strip()

# Group by locality and count unique restaurant types
diversity = df.groupby('listed_incity')['rest_type'].nunique().sort_values(ascending=False)

# Show top 5 diverse localities
print("Top localities by restaurant type diversity:")
print(diversity.head())

# If you want to check specific options given in MCQ:
options = ['Brigade Road', 'BTM', 'Bannerghatta Road', 'Brookefield']
for opt in options:
    count = diversity.get(opt, 0)
    print(f"{opt}: {count} unique restaurant types")

Top localities by restaurant type diversity:
listed_incity
BTM              61
Brigade Road     60
Church Street    60
Lavelle Road     58
MG Road          58
Name: rest_type, dtype: int64
Brigade Road: 60 unique restaurant types
BTM: 61 unique restaurant types
Bannerghatta Road: 46 unique restaurant types
Brookefield: 49 unique restaurant types

In [12]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/content/zomato_data.csv', encoding='latin-1')

# Clean and prepare the cost column
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].astype(str)
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].str.replace(',', '')
df['approx_costfor_two_people'] = pd.to_numeric(df['approx_costfor_two_people'], errors='coerce')

# Standardize rest_type for filtering
df['rest_type'] = df['rest_type'].str.strip().str.lower()

# Filter buffet and delivery restaurants
buffet_df = df[df['rest_type'].str.contains('buffet', na=False)]
delivery_df = df[df['rest_type'].str.contains('delivery', na=False)]

# Calculate average costs
avg_buffet = buffet_df['approx_costfor_two_people'].mean()
avg_delivery = delivery_df['approx_costfor_two_people'].mean()

# Calculate difference
cost_difference = avg_buffet - avg_delivery

print(f"Average Buffet Cost: ₹{avg_buffet:.2f}")
print(f"Average Delivery Cost: ₹{avg_delivery:.2f}")
print(f"Average Cost Difference: ₹{cost_difference:.2f}")

Average Buffet Cost: ₹nan
Average Delivery Cost: ₹415.05
Average Cost Difference: ₹nan

In [16]:

import pandas as pd

# Load the dataset
df = pd.read_csv('/content/zomato_data.csv', encoding='latin-1')

# Clean the cost column
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].astype(str)
df['approx_costfor_two_people'] = df['approx_costfor_two_people'].str.replace(',', '')
df['approx_costfor_two_people'] = pd.to_numeric(df['approx_costfor_two_people'], errors='coerce')

# Standardize rest_type for filtering
df['rest_type'] = df['rest_type'].str.strip().str.lower()

# Filter buffet and delivery restaurants
buffet_df = df[df['rest_type'].str.contains('buffet', na=False)].copy()
delivery_df = df[df['rest_type'].str.contains('delivery', na=False)].copy()

# Check for non-null values before proceeding
valid_buffet = buffet_df['approx_costfor_two_people'].dropna()
valid_delivery = delivery_df['approx_costfor_two_people'].dropna()

# Check counts
print(f"Valid Buffet Entries: {len(valid_buffet)}")
print(f"Valid Delivery Entries: {len(valid_delivery)}")

# Calculate averages only if data exists
if len(valid_buffet) > 0 and len(valid_delivery) > 0:
    avg_buffet = valid_buffet.mean()
    avg_delivery = valid_delivery.mean()
    cost_difference = avg_buffet - avg_delivery

    print(f"Average Buffet Cost: ₹{avg_buffet:.2f}")
    print(f"Average Delivery Cost: ₹{avg_delivery:.2f}")
    print(f"Average Cost Difference: ₹{cost_difference:.2f}")

    # Choose closest option
    if 200 <= cost_difference < 300:
        print("✔ Closest Option: ₹200-300")
    elif 500 <= cost_difference < 600:
        print("✔ Closest Option: ₹500-600")
    elif 700 <= cost_difference < 800:
        print("✔ Closest Option: ₹700-800")
    elif 800 <= cost_difference < 900:
        print("✔ Closest Option: ₹800-₹900")
    else:
        print("❌ No matching option found.")
else:
    print("⚠ Buffet or Delivery category has no valid cost data.")

Valid Buffet Entries: 0
Valid Delivery Entries: 4603
⚠ Buffet or Delivery category has no valid cost data.